body[data-theme="light"] {
  --text: black;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --btn: rgb(235, 235, 235);
  --btnHover: rgb(230, 230, 230);
  --bg-t: rgb(245, 245, 245);
  --logs: rgb(245, 245, 245);

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

/* @media (prefers-color-scheme: dark) { */
body[data-theme="dark"] {
  --text: #9ca3af;
  --text-h: #f3f4f6;
  --bg: rgb(15, 15, 15);
  --border: #2e303a;
  --code-bg: #1f2028;
  --accent: #00b569;
  --accent-bg: rgba(192, 132, 252, 0.15);
  --accent-border: rgba(192, 132, 252, 0.5);
  --social-bg: rgba(47, 48, 58, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  --btn: rgb(30, 30, 30);
  --btnHover: rgb(50, 50, 50);
  --bg-t: rgb(20, 20, 20);
  --logs: rgb(20, 20, 20);

  color-scheme: dark;
  #social .button-icon {
    filter: invert(1) brightness(2);
  }
}

body {
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Inter, sans-serif !important;

  --sans: Inter, system-ui, "Segoe UI", Roboto, sans-serif;
  --heading:
    JetBrainsMono Nerd Font Mono, monospace, Inter, system-ui, "Segoe UI",
    Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;
}

#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  font-size: 14px !important;
}

* {
  &::-webkit-scrollbar {
    height: 5px;
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--accent);
    border-radius: 10px;
  }
}

button {
  &.active {
    background: var(--accent) !important;
    color: white !important;
  }

  &:hover {
    background: var(--btnHover);
  }
}

.themeToggle {
  background: var(--accent);
  width: 50px;
  height: 28px;
  border-radius: 77px;
  display: flex;
  align-items: center;
  justify-content: start;
  position: fixed;
  bottom: 15px;
  left: 15px;
  transition: 0.3s;

  .toggle {
    transition: 0.3s;
    border-radius: 50%;
    background: white;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.light {
    .toggle {
      transform: translateX(2px);
    }
  }

  &.dark {
    .toggle {
      transform: translateX(24px);
    }
  }
}

input,
button {
  font-family: Inter, sans-serif;
  border: none !important;
  cursor: pointer;
  background: var(--btn);
  color: var(--text);
}

input {
  cursor: text;
}

body {
  margin: 0;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}
